---
layout: default
refactor: true
---

{% include lang.html %}

{% assign all_posts = site.posts | where: "hidden", false %}
{% assign all_cn = site.cn | where: "hidden", false %}

{% assign all_pinned_en = all_posts | where: "lang", "en" | where: "pin", true %}
{% assign all_normal_en = all_posts | where: "lang", "en" | where_exp: "item", "item.pin != true" %}
{% assign all_pinned_cn = all_cn | where: "lang", "zh" | where: "pin", true %}
{% assign all_normal_cn = all_cn | where: "lang", "zh" | where_exp: "item", "item.pin != true" %}

<div id="post-list" class="flex-grow-1 px-xl-1">
  <!-- 英文文章 -->
  <h2>English Posts</h2>
  {% assign posts = all_pinned_en | concat: all_normal_en %}
  {% for post in posts %}
    <article class="card-wrapper card">
      <a href="{{ post.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
        {% assign card_body_col = '12' %}

        {% if post.image %}
          {% assign src = post.image.path | default: post.image %}
          {% unless src contains '//' %}
            {% assign src = post.media_subpath | append: '/' | append: src | replace: '//', '/' %}
          {% endunless %}
          <div class="col-md-5">
            <img src="{{ src }}" alt="{{ post.image.alt | default: 'Preview Image' }}">
          </div>
          {% assign card_body_col = '7' %}
        {% endif %}

        <div class="col-md-{{ card_body_col }}">
          <div class="card-body d-flex flex-column">
            <h1 class="card-title my-2 mt-md-0">{{ post.title }}</h1>
            <div class="card-text content mt-0 mb-3">
              <p>{% include post-description.html %}</p>
            </div>
          </div>
        </div>
      </a>
    </article>
  {% endfor %}

  <!-- 中文文章 -->
  <h2>中文文章</h2>
  {% assign posts = all_pinned_cn | concat: all_normal_cn %}
  {% for post in posts %}
    <article class="card-wrapper card">
      <a href="{{ post.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
        {% assign card_body_col = '12' %}

        {% if post.image %}
          {% assign src = post.image.path | default: post.image %}
          {% unless src contains '//' %}
            {% assign src = post.media_subpath | append: '/' | append: src | replace: '//', '/' %}
          {% endunless %}
          <div class="col-md-5">
            <img src="{{ src }}" alt="{{ post.image.alt | default: 'Preview Image' }}">
          </div>
          {% assign card_body_col = '7' %}
        {% endif %}

        <div class="col-md-{{ card_body_col }}">
          <div class="card-body d-flex flex-column">
            <h1 class="card-title my-2 mt-md-0">{{ post.title }}</h1>
            <div class="card-text content mt-0 mb-3">
              <p>{% include post-description.html %}</p>
            </div>
          </div>
        </div>
      </a>
    </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}

